// variables
$primary: #F3A200;
$primary--light: #FBC506;
$secondary: #404D61;

// 用法 nth($grayscale, 數字)
$grayscale: 
#333333, //1 
#777777, //2
#AAAAAA, //3
#DDDDDD, //4
#ECECEC, //5
#F9F7F8; //6

$bg: 
#F3F2EF,
#FCFBFB;

$white: #FFFFFF;
$black: #000000;